<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud com Python</title>
    <link rel= "stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
    <H1>Crud com Python</H1> 
</div>

<!--
{% if carro == 'Fiat Uno' %}
    Esse é um carro {{carro}}
{% else%}
    Não tem carro
{% endif %}        
-->


<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/form" class="btn btn-success">Adicionar</a>
</div> 

<body>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Ano</th>
                <th scope="col">Ações</th>
                
              </tr>
            </thead>
            <tbody>
            {%  for dbs in db%}
            <tr>
              <th>{{dbs.id}}</th>
              <td>{{dbs.modelo}}</td>
              <td>{{dbs.marca}}</td>
              <td>{{dbs.ano}}</td>
              <td>
                <a href="/view/{{dbs.id}}/"class="btn btn-dark">Visualizar</a>
                <a href="/edit/{{dbs.id}}/"class="btn btn-primary">Editar</a>
                <a href=""class="btn btn-danger">Deletar</a>

              </td>
            </tr>
            {% endfor %}  
              
              </tbody>
        </table>
</div> 

</body>
</html>